/* 图层控制板 */
.content_wrap{
    position: absolute;
    background: rgba(124,124,124,0.9);
    top: 30px;
    left: 10px;
    border-radius: 5px;
}

/* 属性面板 */
#infoWin{
    width: 240px;
    height: 450px;
    background: rgba(124,124,124,0.9);
    position: absolute;
    right: 5px;
    top: 30px;
    border-radius: 5px;
}

#infoWin_title{
    height: 30px;
    margin-top: 5px;
    border-bottom: 1px solid;
}

#infoClose{
    position: absolute;
    right: 5px;
    top: 2px;
}
#infoClose :hover{
    cursor: pointer;
}