#dialogContainer {
    position: absolute;
    background-color: rgba(76, 95, 111, 0.8);
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    visibility: hidden;
}
div#printerDialogue {
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    background-color: #E6E6E6;
    overflow: hidden;
    box-shadow: 2px 2px 5px #525050;
    padding: 5px;
}
#canvasContainer{
    margin: auto;
    width: 800px;    
}
#printDialog{
    margin: auto;
    margin-top:30px;
    width: 94px;
}
#display{
    border-style: solid;
    border-width: 1px;
}
#displayPreview {
    margin: auto;
    display: block;
}
div#controlsContainer {
    width: 300px;
    height: 100%;
    float: left;
    overflow: scroll;
}
div#previewContainer {
    height: 100%;
    margin-left: 300px;
    background-color: #EFEEEE;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.89);
}
div#preview {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 2px;
    padding-bottom: 2px;
}
#printBmp{
    display: none;
}
/*@page {
        size: 11.70in 8.30in ;
        margin:0;
    }*/
@media print {
   
    body * {
        visibility: hidden;
    }
    #printBmp{
        display: inline;
        visibility: visible;
        position: absolute;
        left: 0;
        top: 0;
    }
}
#controlsContainer div {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    overflow: hidden;
    font-family: "Arial";
    font-size: 13px;
}
#controlsContainer p {
    font-size: 15px;
    margin: 3px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #6B6B6B;
}

#controlsContainer form {
    margin: 0px;
}
.contrButtons {
    margin: 5px;
    float: right;
}
#controlsContainer h3 {
    font-family: "Arial";
    margin: 0;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #5A5A5A;
    text-shadow: 1px 1px #E4DFDF;
}
#outputoptions ul {
    list-style-type: none;
    padding-left: 5px;
}
#outputoptions li {
    padding: 2.5px;
}